<!doctype html>
<html ng-app="employeePageApp">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
</head>
<body>

<div ng-controller="EmployeeController" class="container">
   <form role="form">
      <div class="employeeContainer" ng-repeat="employee in employees">
        {{employeeId}}
        <input type="button" value="remove" ng-click="removeEmployee($index)">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" ng-model="employee.name">
        </div>
        <div class="familyContainer" ng-repeat="familyMember in employee.family">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" ng-model="familyMember.name">
            </div>
            <div class="form-group">
              <label>Relationship</label>
              <input type="text" class="form-control" ng-model="familyMember.relationship">
            </div>
        </div>
      </div>
      <input type="button" value="Add" ng-click="addEmployee()">
  </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../underscore-min.js"></script>
<script src="employee.js"></script>
</body>

</html>