<!doctype html>
<html ng-app="formApp">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="../../css/jquery.multiselect.css">
</head>
<body>
  <div ng-controller="EmployeeFormController" class="container">
    <!-- Prints employee json's current state-->
    {{employee | json}}
    <form class="form-horizontal" role="form" name="employeeForm">
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="Email" name="email" value="vaibhavgupta@hcentive.com" ng-model="employee.email" ng-initial ng-pattern="pattern.email" ng-required="true">
          <span ng-show="employeeForm.email.$error.pattern">This is not valid email!</span>
          <span ng-show="employeeForm.email.$error.required">Email is required field</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="Password" name="password" value="Qwerty123" ng-model="employee.password" ng-initial ng-required="true">
          <span ng-show="employeeForm.password.$error.required">Password is required</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="Password" name="confirmPassword" value="Qwerty123" ng-model="employee.confirmPassword" ng-initial hc-equal="employee.password" >
          <span ng-show="employeeForm.confirmPassword.$error.hcEqual">Confirm Password should match password</span>
        </div>
      </div>

      <div class="form-group">
        <label for="dob" class="col-sm-2 control-label">DOB</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="dob" name="dob" placeholder="Date of Birth" ui-mask="dob" ng-model="employee.dob" ng-initial value="11/11/1989" hc-mmddyyyy ng-required="true">
          <span ng-show="employeeForm.dob.$error.hcMmddyyyy">Invalid dob format</span>
          <span ng-show="employeeForm.dob.$error.required">DOB is required</span>
        </div>
      </div>

      <div class="dependentPanel" 
      ng-init="employee.dependents = [
      {name:'Dependent 1', relationship: 'Spouse', dob: '11/11/1989', gender: 'M'},
      {name:'Dependent 2', relationship: 'Child', dob: '09/11/1989', gender: 'M'},
      {name:'Dependent 3', relationship: 'Child', dob: '11/11/1989', gender: 'F'}
      ]">
      <div class="dependent" ng-repeat="dependent in employee.dependents">
        {{dependent.name}} 
        <button type="button" class="btn btn-default btn-lg" ng-click="removeDependent($index)">
          Remove
        </button>
        <div class="form-group">
          <label for="relationship{{$index}}" class="col-sm-2 control-label">Relationship</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="relationship{{$index}}" ng-model="dependent.relationship" ng-required="true" hc-name="employee.dependents[{{$index}}].relationship"> 
             <span ng-show="employeeForm['employee.dependents[{{$index}}].relationship'].$error.required">Relationship is required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="dob{{$index}}" class="col-sm-2 control-label">DOB</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="dob{{$index}}" hc-name="employee.dependents[{{$index}}].dob" placeholder="Date of Birth" ui-mask="dob" ng-model="dependent.dob" hc-mmddyyyy ng-required="true">
            <span ng-show="employeeForm['employee.dependents[{{$index}}].dob'].$error.required">Date of birth is required</span>
             <span ng-show="employeeForm['employee.dependents[{{$index}}].dob'].$error.hcMmddyyyy">Please enter valid date of birth</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 control-label">Gender</div>
          <div class="col-sm-10">
            <div class="radio">
              <label>
                <input type="radio" ng-model="dependent.gender" value="M" hc-name="employee.dependents[{{$index}}].gender">
                Male
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="dependent.gender" value="F" hc-name="employee.dependents[{{$index}}].Gender">
                Female
              </label>
            </div>
          </div>
          
        </div>

      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" ng-click="addDependent()">Add dependent</button>
      </div>
    </div>

  </form>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script src="../../scripts/jquery.maskedinput.min.js"></script>
<script src="../initialization/app.js"></script>
<script src="../masking/app.js"></script>
<script src="validation.js"></script>
<script src="app.js"></script>
</body>

</html>