<!doctype html>
<html ng-app="quotesPageApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <div ng-controller="QuotesController" class="container">
    <div class="row">
          <div class="col-md-4">
                <hc-slider min="{{filters.sliders[0].min}}" max="{{filters.sliders[0].max}}" ng-model="filterCriterias.price"></hc-slider>
          </div>
          <div class="col-md-4">
          		<div ng-repeat="carrier in filters.checkboxGroups[0].group">
          			<label>
          				<input type="checkbox" checklist-model="filterCriterias.carrier" checklist-value="carrier">
          				{{carrier}}
          			</label>
          		</div>
          </div>
          
          {{filterCriterias.carrier}}
          !!!!{{filterCriterias.price}}
      </div>
      <div class="page-header">
          <h1>Quotes Page</h1>
      </div>
      <quotes></quotes>
      
    </div>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
      <script src="../scripts/underscore-min.js"></script>
      <script src="../scripts/checklist-model.js"></script>
      <script src="../scripts/slider.js"></script>
      <script src="quotes.js"></script>
  </body>

  <script type="text/ng-template" id="/templates/quotes.html">
    <ul>
      <li ng-repeat="quote in filteredQuotes = (quotes | filter: quotesFilter)">
        {{quote.planName}}, {{quote.price}}, {{quote.carrier}}
      </li>      
    </ul>
    <span ng-hide="filteredQuotes.length">No results</span>
  </script>

  <script type="text/ng-template" id="/templates/filterSlider.html">
      <div ui-slider="sliderOptions" min="{{min}}" max="{{max}}" ng-model="slider"></div>
      {{slider[0]}} - {{slider[1]}}
  </script>


</html>